@use './variables/' as var;

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-family: var.$barlow;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1,h2,h3{
    font-weight: 700;
}

a {
    text-decoration: none;
  }

img{
    display: block;
    width: 100%;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

ul{
    list-style: none;
}
