/*border*/
//width
$border-width-sm: 1px;
$border-width-md: 2px;
$border-width-lg: 3px;
//style
$border-style-solid: solid;
$border-style-dashed: dashed;
//radius
$border-radius-xs: 2px;
$border-radius-sm: 5px;
$border-radius-md: 8px;
$border-radius-lg: 10px;
$border-radius-full: 50%;

/**padding**/
