@use "../../styles/mixins/" as layout;
@use "../../styles/variables/" as util;
.theme-toggler {
  @include layout.display-flex;
  padding: 2px;
  border: util.$border-style-solid util.$border-width-md var(--background-color);

  &:hover {
    border-radius: 5px;
    border: util.$border-style-solid util.$border-width-md var(--text-color);
  }
  &__icon {
    color: var(--text-color);
    font-size: 30px;
    &:hover {
      color: var(--text-color);
    }
  }
}
// ul {
//   @include layout.flex-container($j-content: space-between);
// }
